/* global */
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --button: Tajawal;
  --font-cabin: Cabin;
  --font-lato: Lato;
  --font-inherit: inherit;
  --font-inter: Inter;
  --font-ibm-plex-sans: "IBM Plex Sans";

  /* font sizes */
  --button-size: 20px;
  --buttons-size: 24px;
  --body-4-size: 18px;
  --h2-size: 48px;
  --body-5-size: 14px;
  --font-size-26xl: 45px;
  --body-2-size: 28px;
  --body-1-size: 32px;
  --font-size-mid-7: 17.7px;
  --header-title-size: 64px;
  --head-service-size: 36px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;

  /* Colors */
  --white: #fff;
  --base: #1b4071;
  --color-darkslateblue-100: rgba(27, 64, 113, 0.8);
  --color-darkslateblue-200: rgba(27, 64, 112, 0.05);
  --color-darkslateblue-300: rgba(27, 64, 113, 0);
  --color-darkslateblue-400: rgba(27, 64, 113, 0.05);
  --color-indianred-100: #d66666;
  --color-indianred-200: #eb5757;
  --color-darkslategray-100: #444;
  --co-4: #304259;
  --color-darkslategray-200: #353535;
  --color-darkslategray-300: #333;
  --color-darkgray-100: #9b9b9b;
  --color-darkgray-200: #979797;
  --color-gray-100: #fafafa;
  --color-gray-200: #828282;
  --gray-900: #111b29;
  --color-gray-300: #181818;
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --second-text-color: #737373;
  --color-dimgray-100: #515151;
  --color-gainsboro-100: #e3e3e3;
  --color-gainsboro-200: #e1e1e1;
  --gray-5: #e0e0e0;
  --color-silver-100: #c9c9c9;
  --color-silver-200: #c6c5c5;
  --color-lightgray: #d2d2d2;
  --co-3: #347bd9;
  --color-black: #000;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #f4f5f8;
  --color-whitesmoke-300: #f3f3f3;
  --gray-500: #6b7280;
  --color-lightslategray: #8e9aa6;

  /* Gaps */
  --gap-29xl: 48px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-45xl: 64px;
  --gap-757xl: 776px;
  --gap-6xl: 25px;
  --gap-2xs: 11px;
  --gap-11xl: 30px;
  --gap-31xl: 50px;
  --gap-mini: 15px;
  --gap-109xl: 128px;
  --gap-15xl: 34px;
  --gap-9xs: 4px;
  --gap-138xl: 157px;
  --gap-156xl: 175px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-61xl: 80px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-11xs: 2px;
  --padding-109xl: 128px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-38xl: 57px;
  --padding-5xs: 8px;
  --padding-22xl: 41px;
  --padding-xl: 20px;
  --padding-29xl: 48px;
  --padding-13xl: 32px;
  --padding-221xl: 240px;
  --padding-18xl: 37px;
  --padding-mini: 15px;
  --padding-100xl: 119px;
  --padding-133xl: 152px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-26xl: 45px;
  --br-23xl: 42px;
  --br-11xl: 30px;
  --br-9xl: 28px;
  --br-5xs: 8px;

  /* Effects */
  --sd: 10px 15px 10px 2px rgba(0, 0, 0, 0.25);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  --shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

/* Start Home Page */
.homepage {
  background-image: url(../imgs/image1.png);
  background-size: cover;
  height: 1000px;
  position: relative;
}
/* Start Navbar One */
.navbar-one .contact {
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.navbar-one .contact a {
  height: 3px;
}
.navbar-one .contact p {
  color: white;
  margin-left: 30px;
}

/* End Navbar One */
/* Start Navbar Two */
.navbar-two {
  position: absolute;
  left: calc(50% - 720px);
  width: 1440px;
  height: 80px;
}

.navbar-two {
  top: 40px;
  text-align: left;
  font-size: var(--body-4-size);
  color: var(--color-gainsboro-200);
}

.navbar-two ul a {
  color: white;
  font-size: 25px;
}
.navbar-two ul .serviecs {
  position: relative;
}
.navbar-two ul .serviecs::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: #fff transparent transparent transparent;
  height: 0;
  width: 0;
  left: -4px;
  top: 36px;
  cursor: pointer;
}

.navbar-two .container .nav-button {
  border-radius: var(--br-8xs);
  background: linear-gradient(94.84deg, #304259 12.77%, #347bd9);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  text-align: center;
  font-size: var(--button-size);
}
.navbar-two .container .nav-button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.navbar-two .container .nav-button a {
  color: white;
  font-weight: 800;
}
/* End Navbar Two */

.landing {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing h1 {
  font-size: 70px;
}

.line-parent {
  position: absolute;
  content: "";
  height: 445px;
  width: 2px;
  left: 10px;
  top: -94%;
  background-color: white;
}

.line-btns button:not(.active) {
  text-align: center;
  position: relative;
  left: -5px;
  z-index: 1;
  font-weight: bold;
  cursor: pointer;
  margin-top: 90px;
  border: none;
  /* border-radius: 50%; */
  width: 8px;
  height: 8px;
  color: transparent;
  background: #444;
}
.line-btns button.active {
  text-align: center;
  position: relative;
  left: -10px;
  z-index: 1;
  font-weight: bold;
  cursor: pointer;
  margin-top: 90px;
  border: none;
  border-radius: 50%;
  background: #444;
  color: white;
}

/* End Home Page */

/* Start Video Section */
.video-section p {
  max-width: 500px;
  position: relative;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
}

.video-section .video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Video Section */

/* Start Bag Section */
.bag-section {
  background-color: #f3f5f8;
  height: 1000px;
}
.bag-section h1 {
  text-align: center;
  padding: 30px;
  color: var(--base);
}
.bag-section .bag-flex {
  display: flex;
  flex-direction: row-reverse;
}
.bag-section .row .sec {
  height: 280px;
}
.bag-section .row .sec .prag {
  text-align: center;
  position: relative;
}
.bag-section .row .prag {
  font-size: 20px;
  font-weight: bold;
  height: 250px;
  width: 290px;
  background-repeat: no-repeat;
}
.bag-section .row .prag.one {
  background-image: url(../imgs/one.png);
  background-size: cover;
}
.bag-section .row .prag.two {
  background-image: url(../imgs/two.png);
  background-size: cover;
}
.bag-section .row .prag.three {
  background-image: url(../imgs/three.png);
  background-size: cover;
}
.bag-section .row .prag.four {
  background-image: url(../imgs/four.png);
  background-size: cover;
}
.bag-section .row .prag.five {
  background-image: url(../imgs/five.png);
  background-size: cover;
}
.bag-section .row .prag.six {
  background-image: url(../imgs/six.png);
  background-size: cover;
}
.bag-section .row .prag.seven {
  background-image: url(../imgs/seven.png);
  background-size: cover;
}
.bag-section .row .prag.eight {
  background-image: url(../imgs/eight.png);
  background-size: cover;
}
.bag-section .row .prag.nine {
  background-image: url(../imgs/nine.png);
  background-size: cover;
}
.bag-section .row .prag.ten {
  background-image: url(../imgs/ten.png);
  background-size: cover;
}
.bag-section .row .prag.eleven {
  background-image: url(../imgs/eleven.png);
  background-size: cover;
}
.bag-section .row .prag p.hide-on-hover {
  transform: translate(147px, 64px);
  width: 100px;
  height: 20px;
}
.bag-section .row .prag p.show-on-hover {
  transform: translate(120px, 16px);
  width: 175px;
  height: 20px;
}

.prag .show-on-hover,
.prag:hover .hide-on-hover {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.prag .show-on-hover {
  opacity: 0;
}

.prag:hover .hide-on-hover {
  opacity: 0;
}

.prag:hover .show-on-hover {
  opacity: 1;
}
.section {
  background-image: url(../imgs/image1.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* End Bag Section */
